
body{
background-size: cover; 
background-image:url(./assets/img/blueSky.jpg);
background-position: center;
min-height: 100vh;
}

.row {
    padding: 5px;
}

.btn {
    background: whitesmoke;
}

.svgLoupe{
    width: 30px;
}

.btn {
    border: solid 1px black;
}

.cityName {
    font-size: 30px;
    font-weight: bold;
}

.row {
    display: flex;
    justify-content: center;
}

.tempAct {
    font-size: 35px;
    font-weight: bold;
}

.condition {
    font-size: 20px;
}

div.hourByHour {
    overflow: auto;
    white-space: nowrap;
    text-align: center;
 }

 div.hourByHour .weather-by-hour {
    display: inline-block;
    text-align: center;
    padding: 14px;
    color: whitesmoke;
 }
 
 .search{
     justify-content: flex-end;
 }
 
 .weather-next-days {
     display: flex;
     justify-content: space-between;
     border:1px black;
 }
 